*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
# Excluir archivo build.gradle.kts en app/
app/build.gradle.kts
#
## Excluir archivo schema.graphqls
app/src/main/graphql/schema.graphqls
#
## Excluir archivo ApolloClient.kt
app/src/main/java/com/example/fibo/apollo/ApolloClient.kt
#
## Excluir archivo libs.versions.toml
gradle/libs.versions.toml
gradle/local.properties


